@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@{
    var content = (ContentModels.SocialLink)Model.Content;

    var image = content.Value<IPublishedContent>("socialLinkImage");
    var url = content.Value<Link>("socialLinkLink");
}

<a href="@url.Url" class="social-icon-link w-inline-block"><img src="@image.Url()" width="25" alt=""></a>
