@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var currentCulture = @Model.GetCultureFromDomains().Substring(0, 2);
}
<head>
    <title>Blog Home</title>
</head>

<div class="content-wrapper">
    @await Umbraco.RenderMacroAsync("RenderBlogPosts", new { amount="5" })
    <div class="button-wrapper"><a href="/all-posts/@currentCulture/" class="button w-button">@Model.Value("homeAllPostsButton")&nbsp;→</a></div>
</div>